@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Interview Question and Answers</h1>
    <p>This is a CRUD Web Application for Interview Questions and Answers</p>
</div>
